body
{
  background-color: #202124;
  align-items: center;
  text-align: center;
}
#can1, #can2 
{
  border: 1px solid #10f708;
  border-width: 5px;
  width: 600px;
  height: 400px;
}
.buttons {
  display: inline-block;
  padding: 16px 20px; 
  cursor: pointer;
  border-radius: 4px;
  background-color: #9c27b0;
  font-size: 24px;
  color: #fff;
}
input[type="file"] {
position: absolute;
opacity: 0;
}
input[type="button"] {
  position: absolute;
  opacity: 0;
}